alembic
blinker
click
colorama
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
psycopg2-binary
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy
Werkzeug